
.identificationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1.875rem;

    h1 {
        margin-top: 1.875rem;
        margin-bottom: 6.25rem;
        font-size: 1.875rem;
        font-weight: 700;
    }

    p {
        margin-bottom: 3.125rem;
        font-size: 1.25rem;
        font-weight: 700;
    }

    input {
        width: 70%;
        color: #000000;
        box-sizing: border-box;
        padding: 0.75rem;
        font-size: 1rem;
        font-weight: 600;
        border: .1875rem solid #ccc;
        border-radius: .75rem;
        padding-top: 1rem;
        padding-bottom: 1rem;

      &:focus {
        outline: none;
        border-color: #239258;
      }
    }
}