
.vehicleDashboardContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    gap: 1.875rem;

    h1 {
        margin-bottom: 1.25rem;
        font-size: 1.875rem;
        font-weight: 700;
    }

    .eixosContainer {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

        li {
            width: 100%;;
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            gap: 1rem;

            .pLeft {
                width: 20%;
                font-size: 1.25rem;
                font-weight: 700;
                padding-bottom: 1.875rem;
                text-align: right;
                cursor: pointer;

                span {
                    color: #FFFFFF;
                    background-color: #239258;
                    padding: .5rem;
                    border-radius: 50%;
                }
            }

            img {
                width: 200px;
                height: auto;
            }

            .pRight {
                width: 20%;
                font-size: 1.25rem;
                font-weight: 700;
                padding-bottom: 1.875rem;
                text-align: left;
                cursor: pointer;

                span {
                    color: #FFFFFF;
                    background-color: #239258;
                    padding: .5rem;
                    border-radius: 50%;

                }
            }
        }
    }

    .button {
        margin-top: 1.875rem;
        width: 100%;
        padding: 5px;
        font-size: 20px;
        font-weight: 700;
        background-color: #239258;
        color: #000000;
        border: none;
        border-radius: 1.5625rem;
        cursor: pointer;
        padding-top: 1rem;
        padding-bottom: 1rem;

        &:hover {
            background-color: #1e7e4c;
        }
    }

}